body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

table {
  margin: 0;
  padding: 0;
}

td {
  margin: 0;
  padding: 0;
}

tr {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
