<div class="account-register-form">
    <form>
        <div class="form-element">
            <input [(ngModel)]="user.firstName" name="firstName" type="text" placeHolder="First name">
        </div>
        <div class="form-element">
            <input [(ngModel)]="user.lastName" name="lastName" type="text" placeholder="Last name">
        </div>
        <div class="form-element">
            <input [(ngModel)]="user.email" name="email" type="email" placeHolder="Email">
        </div>
        <div class="form-element">
            <input [(ngModel)]="user.password" name="password" type="password" placeholder="password">
        </div>

        <div class="form-element">
            <button type="button" (click)="submitForm(registerForm)">Sign up</button>
        </div>
    </form>
</div>
