.workspace-planner {
  width: 100%;
  height: 90vh;
  color: #5abbba;
}

.workspace-planner-table {
  width: 100%;
  border-collapse: collapse;

  &__head {
    height: 4vh;
    background: #3c3f41;
    width: calc(100% / 7);
  }

  &__cell {
    border: 4px solid #3c3f41;
  }
}
