<div class="workspace-planner">
  <table class="workspace-planner-table">
      <tr>
        <th class="workspace-planner-table__head" *ngFor="let item of weekDays">
          <span>{{item}}</span>
        </th>
      </tr>
      <tr *ngFor="let row of table">
        <td class="workspace-planner-table__cell" *ngFor="let cell of row">
          <app-planner-cell
            day={{cell.date.getDate()}}
            numberOfTasks={{0}}
            [enabled]="isCurrentMonth(cell.date)">
          </app-planner-cell>
        </td>
      </tr>
  </table>

  <app-month-selector
    [currentMonth]="currentMonth"
  ></app-month-selector>
</div>
