.header-toolbar {
  width: 100%;
  display: flex;
}

.header-toolbar-list {
  width: 100%;
  display: flex;
  align-items: center;

  &__item {
    padding: 10px 20px;
    color: #a9b7c6;
    list-style: none;

    &:hover {
      color: #fff;
      cursor: pointer;
    }
  }
}
