<div class="header-toolbar">
  <ul class="header-toolbar-list">
    <li class="header-toolbar-list__item">qwerty</li>
    <li class="header-toolbar-list__item">asdfgh</li>
    <li class="header-toolbar-list__item">zxcvb</li>
    <li class="header-toolbar-list__item">qwerty</li>
  </ul>
</div>
