.planner-cell {
  min-height: calc((90vh - 7 * 4px - 4vh - 6vh) / 6);

  &__day {
    padding-top: 10px;
    padding-left: 10px;
  }
}

.planner-cell-events {
  display: flex;
  margin-left: 70%;
  margin-top: 5%;
}

.planner-cell-events__action {
  visibility: hidden;
}

.enable {
  background: rgba(60, 63, 65, 0.82);
  cursor: pointer;
}

.enable:hover {
  color: #3c3f41;
  background: rgba(130, 130, 130, 0.8);

  .planner-cell-events__action {
    margin: 2px 0 0 2px;
    color: yellow;
    visibility: visible;
  }
}

.disable {
  background: rgba(60, 63, 65, 0.96);
  color: #474747;
}
