<div class="planner-cell" [ngClass]="{enable: enabled, disable: !enabled}" >
  <h2 class="planner-cell__day">{{day}}</h2>
  <div class="planner-cell-events">
    <h3 *ngIf="numberOfTasks > 0" class="planner-cell-events__count">{{numberOfTasks}}</h3>
    <div class="planner-cell-events__action">
      <span class="mdi mdi-calendar-plus mdi-18px"></span>
    </div>
  </div>

</div>
