.header-logo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  &__img {
    width: 40px;
    height: 40px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
  }
}
