<div class="workspace">
  <div class="workspace__main">
    <router-outlet></router-outlet>
  </div>
  <div class="workspace__toolbar">
    <app-workspace-toolbar></app-workspace-toolbar>
  </div>
</div>
