.workspace {
  height: 90vh;
  width: 100%;
  display: flex;

  &__main {
    width: 90%;
    background: url("src/assets/bg2.jpg");
    background-size: 100% 100%;
  }

  &__toolbar {
    width: 10%;
    height: 100%;
    background: #3c3f41;
    border-top: 1px solid #a9b7c6;
  }
}
