<div class="planner-selector">
  <span class="mdi mdi-arrow-left-bold-box mdi-24px"></span>

  <div class="month-selector">
    <select class="month-selector__select" id="month">
       <option [value]="month.id" *ngFor="let month of months" >{{month.name}}</option>
    </select>

    <select class="month-selector__select" id="year">
      <option [value]="y" *ngFor="let y of getYears()">{{y}}</option>
    </select>
  </div>

  <span class="mdi mdi-arrow-right-bold-box mdi-24px"></span>
</div>
