.planner-selector {
  background: #3c3f41;
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  span:hover {
    cursor: pointer;
    color: #fff;
  }
}

.month-selector {
  width: 50%;
  text-align: center;

  &__select {
    background: #3c3f41;
    color: #a9b7c6;
    font-size: 20px;
    outline: none;
    border: none;
    margin-right: 20px;
    margin-left: 20px;

    option {
    }
  }
}

.hidden {
  height: 0;
  margin: 0;
}
