.header {
  display: flex;
  width: 100%;
  height: 10vh;
  background: #3c3f41;

  &__logo {
    margin-left: 30px;
  }

  &__toolbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
  }
}
