<div class="account-register-form">

  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="form-element">
      <input name="email" type="email" placeHolder="Email">
    </div>
    <div class="form-element">
      <input name="password" type="password" placeholder="Password">
    </div>

    <div class="form-element">
      <button type="submit">Sign up</button>
    </div>
  </form>
</div>